body {
    overflow-x: hidden;
}

header{
position: relative;
top:0;
background-color:black;
background-size: cover;
margin-left: -10px;
margin-right: -10px;
margin-top:-10px;
}
header img{
display: block;
margin-left: auto;
margin-right: auto;
}

nav{
position: relative;
background-color: black;
background-size: cover;
margin-left: -10px;
margin-right: -10px;
border-style: solid; 
border-width: 2px;
border-color: white;
border-left-width: 4px;
border-right-width: 4px;     
}

nav ul li{padding: 1rem;
    display: block;
    float: left;
    color:white;
}

nav ul li ul {
    background-color: black;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    max-width: 100%;
  }

nav li:focus-within a {
    outline: none;
  }

nav a{
color:black;  
background-color: white;
text-decoration: none;
text-align: center; 
border-style: solid; 
border-width: 2px;
border-color: black;
}

nav ul li ul li{
    width: 100%;
}

nav a:hover{
    color:white;  
    background-color: black;
    border-color: white;
    text-decoration: none;
}

nav div ul li ul {
    visibility:hidden;
}

nav div ul li:hover > ul,
nav div ul li:focus-within > ul,
nav div ul li ul:hover,
nav div ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block
 }

.flex_container_nav{
    display: flex;
    justify-content: center;    
}
.flex_item_nav{
    position: relative;
    font-size:21;
    height:100%;
}

footer{
background-color: #14141f;
color: white;
background-size: cover;
margin-left: -10px;
padding: 5px;
padding-left: 20px;
width: 100%;
position: fixed;
bottom: 0;
}

footer a{
    color:white;
    background-color: transparent;
    text-decoration: none;
}

footer a img{
    background-color: #14141f;
    width:50px;
    height:50px;

}

footer a:hover{
    color:lightblue;
    background-color: transparent;
    text-decoration: none;
}

article {
    margin-left: -10px;
    margin-right: -10px;
    padding:4px;
    border-style: solid; 
    border-top-width: 4px;
    border-color: black;

}
